<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My GIF Collection</title>
</head>
<body>
  <h1> GIF Collection </h1>
  <p> You never know when this might come in handy. </p>
  <form action="/uploadGif" method="POST" enctype="multipart/form-data">
    <label for="tag"> Tag it so you can quickly get it when you need it! </label>
    <input type="text" id="tag" name="tag" />
    <label for="file"> Upload gif here </label>
    <input type="file" id="file" name="file">

    <button type="submit">Save GIF</button>
  </form>
  <div>
    <div id="message"></div>

  <% if(gifs.length > 0){ %>
    <div class="gifs">
      <h2>Your GIF List</h2>
      <% for(var i = 0; i < gifs.length; i++) {%>
        <li class="gifs__item">
          <img src="http://localhost:5000/gifs/<%= gifs[i].filename%>" alt="alt">

        <span> <%=gifs[i].filename %></span>
        <i class="delete-gif" onclick="deleteGif(`<%=gifs[i]._id %>`)">Delete</i>
        <i class="copy-gif" onclick="copyUrlFromGif(`<%=gifs[i].filename %>`)">Copy</i>
        </li>
      <% } %>
  </div>
  <% } else { %>
    <p>No files to show</p>
    <% } %>

  <script src="/main.js"></script>

</body>
</html>

